:root {
  --text: #333333;
  --text-light: #a0a0a0;
  --bg: #ffffff;
  --black-color: #333333;
  --black-hover-color: #444444;
  --bg-card: #f7fafc;
  --bg-input: #f3f4f5;
  --border: #cbcbcb;
  --header-height: 70px;
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 16px/1.7 "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--bg);
  background: var(--black-color);
}

::selection {
  /* color: red; */
  color: var(--bg);
  background: var(--black-color);
}

/* container */
.header-container-75 {
  width: 75%;
  height: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-75 {
  width: 75%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------header----------------------------------------- */

/* main-header */
.main-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border);
  position: relative;
}
.logo-wrapper {
  position: relative;
}
.logo {
  /* width: 130%; */
  width: 160px;
}

.search-bar-wrapper {
  /* width: 100%; */
  flex-grow: 1;
  position: relative;
  /* background-color: var(--black-color); */
  /* margin: 0 3.5rem; */
  margin-left: 3rem;
  margin-right: 3.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  /* display: flex; */
  /* align-items: center; */
}
.search-bar {
  width: 100%;
  height: 44px;
  border-radius: 0.3rem;
  background-color: var(--bg-input);
  border: none;
  background-image: url("../images/search-gray.svg");
  background-position: 1rem 50%;
  background-repeat: no-repeat;
  padding-left: 3rem;
  padding-right: 10%;
  font-size: 1rem;
  /* font-weight: 500; */
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--bg-input);
}
.search-bar::placeholder {
  color: var(--text-light);
}
.search-bar:focus {
  /* outline-color: var(--black-color); */
  outline: none;
  border-color: var(--black-color);
}
.search-bar:focus .search-btn {
  border-top: 2px solid var(--black-color);
}
.search-btn {
  background-color: var(--black-color);
  position: absolute;
  /* top: 2px; */
  top: 0;
  /* right: 2px; */
  right: 0;
  width: 8%;
  /* height: calc(100% - 4px); */
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
  border-top: 2px solid var(--black-color);
  /* border-style: outset; */
  transition: background-color 250ms;
}
.search-btn:hover {
  background-color: var(--black-hover-color);
}
.search-btn:hover .search-btn__icon {
  transform: translateX(2px);
}
.search-btn__icon {
  width: 32px;
  height: 32px;
  stroke: var(--bg);
  transform: translateX(-1px);
  transition: transform 250ms;
}

.user-account-wrapper {
  padding: 0.5rem 0;
  /* flex-basis: 12%; */
  /* height: 80%; */
  display: flex;
  /* padding-right: 1rem; */
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  border-right: 1px solid var(--border);
  /* background-color: blue; */
}
.user-avatar {
  /* background-color: var(--black-color); */
}
.user-avatar > svg {
  /* stroke: var(--bg); */
}
.account {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
.dropdown-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-light);
  fill: none;
  margin-left: 0.5rem;
}
.account-dropdown {
  position: absolute;
  /* top: 125%; */
  top: 100%;
  border-radius: 0.4rem;
  width: 90%;
  height: 200px;
  /* background-color: red; */
  background-color: var(--bg);
  z-index: 1;
  display: none;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.user-account-wrapper:hover .account-dropdown {
  display: block;
}
.cart-wrapper {
  /* flex-basis: 20%; */

  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: blue; */
  padding-left: 1rem;
}
.cart-icon-wrapper {
  margin-right: 1rem;
}
.cart-icon {
  fill: var(--black-color);
}
.cart-price {
  /* text-align: end; */
  min-width: 60px;
  display: flex;
  justify-content: end;
}

/* secondary header */
.sec-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border);
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-btn {
  width: 24px;
}
.nav ul {
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  /* justify-content: space-between; */
  padding-left: 2rem;
  padding-right: 4rem;
}
.nav__item {
  list-style: none;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
.gift-card-wrapper {
  border-right: 1px solid var(--border);
  padding-right: 1rem;
  display: flex;
  align-items: center;
}
.gift-card-icon {
  margin-right: 0.5rem;
}
.wishlist-wrapper {
  border-right: 1px solid var(--border);
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 200px; */
}
.wishlist-icon {
  margin-right: 0.5rem;
}
.wishlist-counter {
  padding-left: 0.5rem;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.lang-wrapper {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.globe-icon {
  margin-right: 0.5rem;
}
