:root {
  --text: #333333;
  --text-light: #a0a0a0;
  --bg: #ffffff;
  --black-color: #333333;
  --black-hover-color: #444444;
  --nav-hover-color: rgba(128, 128, 128, 0.08);
  --bg-card: #f7fafc;
  --bg-input: #f3f4f5;
  --border: #cbcbcb;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  --header-height: 70px;
}

/* border box */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: 16px/1.7 "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--bg);
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--bg);
  background: var(--black-color);
}

::selection {
  /* color: red; */
  color: var(--bg);
  background: var(--black-color);
}

/* container */
.header-container-75 {
  width: 75%;
  height: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-75 {
  width: 75%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------------------header----------------------------------------- */
header {
  /* position: fixed; */
  position: sticky;
  top: 0;
  background-color: var(--bg);
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px; */
  /* margin-bottom: 3rem; */
  /* ! add margin below???????? */
}
/* main-header */
.main-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border);
  position: relative;
}
.logo-wrapper {
  position: relative;
}
.logo {
  /* width: 130%; */
  width: 160px;
}

.search-bar-wrapper {
  /* width: 100%; */
  flex-grow: 1;
  position: relative;
  /* background-color: var(--black-color); */
  /* margin: 0 3.5rem; */
  margin-left: 3rem;
  margin-right: 3.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
  /* display: flex; */
  /* align-items: center; */
}
.search-bar {
  width: 100%;
  height: 44px;
  border-radius: 0.3rem;
  background-color: var(--bg-input);
  border: none;
  background-image: url("../images/search-gray.svg");
  background-position: 1rem 50%;
  background-repeat: no-repeat;
  padding-left: 3rem;
  padding-right: 10%;
  font-size: 1rem;
  /* font-weight: 500; */
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--bg-input);
}
.search-bar::placeholder {
  color: var(--text-light);
}
.search-bar:focus {
  /* outline-color: var(--black-color); */
  outline: none;
  border-color: var(--black-color);
}
.search-bar:focus .search-btn {
  border-top: 2px solid var(--black-color);
}
.search-btn {
  background-color: var(--black-color);
  position: absolute;
  /* top: 2px; */
  top: 0;
  /* right: 2px; */
  right: 0;
  width: 8%;
  /* height: calc(100% - 4px); */
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
  border-top: 2px solid var(--black-color);
  /* border-style: outset; */
  transition: background-color 250ms;
}
.search-btn:hover {
  background-color: var(--black-hover-color);
}
.search-btn:hover .search-btn__icon {
  transform: translateX(2px);
}
.search-btn__icon {
  width: 32px;
  height: 32px;
  stroke: var(--bg);
  transform: translateX(-1px);
  transition: transform 250ms;
}

.user-account-wrapper {
  padding: 0.2rem 0.5rem;
  /* flex-basis: 12%; */
  /* height: 80%; */
  display: flex;
  /* padding-right: 1rem; */
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: relative;
  /* border-right: 1px solid var(--border); */
  /* margin: 0 0.4rem; */
  border-radius: 0.4rem;
  /* background-color: blue; */
}
.user-account-wrapper:hover .dropdown-icon {
  transform: rotate(-180deg);
  fill: var(--black-hover-color);
}
.user-account-wrapper:hover {
  background-color: var(--nav-hover-color);
}

.account {
  height: 32px;
  display: flex;
  align-items: center;
  /* margin: 0 1rem; */
  /* padding: 0 0.5rem; */
  /* margin: 0 0.2rem; */
  margin-left: 0.4rem;
  border-radius: 0.4rem;
  color: var(--text-light);
}
.dropdown-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-light);
  fill: none;
  margin-left: 0.5rem;
  transition: all 150ms ease-in;
  fill: #a0a0a0;
}
.account-dropdown {
  position: absolute;
  /* top: 125%; */
  top: 100%;
  border-radius: 0.4rem;
  /* width: 90%; */
  /* height: 200px; */
  /* background-color: red; */
  background-color: var(--bg);
  z-index: 1;
  padding: 0.5rem;
  display: none;
  box-shadow: var(--box-shadow);
}
.user-account-wrapper:hover .account-dropdown {
  display: block;
}

.btn-sign-in {
  width: 200px;
}
.sign-up-wrapper {
  /* margin: 0 auto; */
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
  text-align: center;
}
.sign-up__text {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
}
.btn-register {
  min-width: none;
  height: 1rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 1.25rem;
  margin-left: 0.4rem;
}

.account-actions-wrapper {
  /* margin: 0.5rem 0; */
  margin-top: 0.5rem;
}
.account-actions-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.account-action {
  max-height: 32px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* padding: 0.5rem 0.5rem; */
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.875rem;
  letter-spacing: 0.6px;
}
.account-action > svg {
  margin-right: 0.5rem;
}
.account-action:hover {
  background-color: var(--nav-hover-color);
}
.btn-logout {
  margin-top: 0.5rem;
  border-top: 1px solid var(--border);
  border-radius: 0;
}
.cart-wrapper {
  /* flex-basis: 20%; */
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: blue; */
  padding-left: 1rem;
  color: var(--text-light);
}
.cart-wrapper:hover {
  background-color: var(--nav-hover-color);
}
.cart-icon-wrapper {
  margin-right: 1rem;
}
.cart-icon {
  fill: var(--black-color);
}
.cart-price {
  /* text-align: end; */
  min-width: 40px;
  display: flex;
  justify-content: end;
  color: var(--text);
  font-weight: 600;
  padding-left: 0.4rem;
}

/* secondary header */
.sec-header {
  height: var(--header-height);
  border-bottom: 1px solid var(--border);
  position: relative;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem;
  /* margin: 0.4rem; */
  border-radius: 0.4rem;
}
.home-btn > svg {
  width: 24px;
  height: 24px;
}
.home-btn:hover {
  background-color: var(--nav-hover-color);
}
.nav ul {
  /* width: 100%; */
  flex-grow: 1;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  /* justify-content: space-between; */
  padding-left: 2rem;
  padding-right: 4rem;
}
.nav__item {
  height: 32px;
  list-style: none;
  margin-right: 0.4rem;
  padding: 0 0.6rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  cursor: pointer;
  position: relative;
}
.nav__item:hover {
  background-color: var(--nav-hover-color);
}
.nav__item:hover .dropdown-icon {
  transform: rotate(-180deg);
  fill: var(--black-hover-color);
}
.nav__item:hover .nav-dropdown {
  display: block;
}

.nav-dropdown {
  /* width: 128%; */
  /* width: 100%; */
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0.4rem;
  background-color: var(--bg);
  z-index: 1;
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
}
.nav-dropdown > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.nav-dropdown__item {
  list-style: none;
  /* display: inline-block; */
  width: 100%;
  display: flex;
  /* justify-content: center; */

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /* padding: 0.5rem 0.5rem; */
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  white-space: nowrap;
  color: var(--text);
}
.nav-dropdown__item:hover {
  background-color: var(--nav-hover-color);
}

.vertical-separator {
  height: 32px;
  width: 1px;
  background-color: var(--border);
  margin: 0 0.5rem;
}

.gift-card-wrapper {
  /* border-right: 1px solid var(--border); */
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-light);
}
.gift-card-wrapper:hover {
  background-color: var(--nav-hover-color);
}
.gift-card-icon {
  margin-right: 0.5rem;
}
.wishlist-wrapper {
  /* border-right: 1px solid var(--border); */
  /* padding-left: 1rem; */
  /* padding-right: 1rem; */
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  /* width: 200px; */
}
.wishlist-wrapper:hover {
  background-color: var(--nav-hover-color);
}
.wishlist-icon {
  margin-right: 0.5rem;
}
.wishlist-counter {
  padding-left: 0.5rem;
  min-width: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--text);
  font-weight: 600;
}
.lang-wrapper {
  /* padding-left: 1rem; */
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-light);
  position: relative;
}
.lang-wrapper:hover {
  background-color: var(--nav-hover-color);
}
.lang-wrapper:hover .dropdown-icon {
  transform: rotate(-180deg);
  fill: var(--black-hover-color);
}
.lang-wrapper:hover .nav-dropdown {
  display: block;
}
.globe-icon {
  margin-right: 0.5rem;
}

/* -----------------------------home-page--------------------------------- */
.home-page-wrapper {
  /* height: 400vh; */
  /* background-color: var(--text-light); */
}

/* -----------------------banner--------------------- */
.banner-wrapper {
  /* width: 100%; */
  position: relative;
  /* height: 55vh; */
  /* overflow: hidden; */
  height: 500px;
}

.banner {
  display: flex;
  justify-content: space-between;
  position: relative;
  /* background-color: aqua; */
  /* max-height: 540px; */
  margin: 0 0.5rem;
  height: 500px;
}
.banner__content {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner__title {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 4rem;
}
.banner__subheading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 4rem;
}
.banner__description {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 1.5rem;
  color: var(--text-light);
  margin-top: 0.5rem;
}
.btn-banner {
  width: 144px;
  margin-top: 1rem;
}
/* .banner__nav {
  display: flex;
  position: absolute;
  bottom: 0;
}
.banner__nav-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--border);
  margin-right: 1rem;
  cursor: pointer;
}
.banner__nav-btn:hover {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}
.active-banner {
  background-color: var(--black-color);
  outline: 1px solid var(--border);
  outline-offset: 3px;
} */
.banner__img {
  flex-basis: 49%;
  position: relative;
}
.banner__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.banner-slide > div {
  /* height: 500px; */
}
.banner-dot {
  position: absolute;
  bottom: 0;
  margin-left: 0.5rem;
  /* display: flex; */
  /* align-items: center; */
}
.banner-dot > button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--border);
  margin-right: 1rem;
  cursor: pointer;
  border: none;
}
.banner-dot > button:disabled {
  background-color: var(--black-color);
  outline: 1px solid var(--border);
  outline-offset: 3px;
}
.banner-dot > button:hover {
  outline: 1px solid var(--border);
  outline-offset: 3px;
}

/* -------------------featured card----------------------------- */
.featured-cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.25rem;
}
.featured-card {
  flex-basis: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border);
  padding: 3rem 0;
  cursor: pointer;
}
.featured-card:hover {
  background-color: var(--bg-card);
}

.featured-card__img {
  /* fill: var(--border); */
  fill: var(--text-light);
  margin-right: 0.5rem;
}
.featured-card__text {
  font-size: 1.08rem;
  color: var(--text-light);
  font-weight: 500;
  letter-spacing: 0.2px;
  /* display: flex; */
}
.featured-card__highlight {
  color: var(--text);
  /* margin-right: 0.2rem; */
  font-weight: 700;
}
