.card {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.card--square {
  border-radius: 0;
}
.card__content {
  padding: 1em;
}
.card__header {
  display: flex;
  padding: 1em;
}
.card__media {
  overflow: hidden;
  position: relative;
}
.card__media > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.card__media > .card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}
.card > .card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
}
.card__actions {
  align-self: flex-start;
  display: flex;
}
.card__footer {
  display: flex;
  padding: 0.5em;
  position: relative;
}
.card--horizontal {
  flex-direction: row;
}
.card--horizontal > .card__media > * {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__content > .card__header,
.card__content > .card__footer {
  padding: 0;
}
